---
title: Discover Meteor
---

- content_for(:title, "Discover Meteor")

=partial("partials/postcover")

- blog.articles.reverse_each do |chapter|
  =partial("partials/print_chapter", :locals=>{chapter:chapter})
