---
title: Discover Meteor
---

- chapters = blog.articles.last(14).reverse

- content_for(:title, "Discover Meteor")

=partial("partials/cover")

=partial("partials/postcover")


=partial("partials/print_toc", :locals=>{chapters:chapters})

- chapters.each do |chapter|
  =partial("partials/print_chapter", :locals=>{chapter:chapter})

.section.cta
  %h1 Congratulations!
  %h2 You've wrapped up the Starter Edition of <em>Discover Meteor</em>.
  %p 
    %a{:href => "https://www.discovermeteor.com/packages?utm_source=starter&utm_medium=starter&utm_campaign=starter"}Get the full book
    to learn about:
  %ul
    %li Managing user accounts.
    %li Making your app secure.
    %li Publishing and subscribing to data.
    %li Submitting, editing, and voting on posts.
    %li And much more.
  %p You'll be up and running in no time!
  %blockquote
    “This book is a magnificent complement to the Meteor documentation, and a great option for anyone wanting to learn Meteor.” – <strong>Meteor co-founder Matt Debergalis</strong>
